<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Login.ILoginDao">
<select id="LoginProc" parameterType="com.jin.Login.Login" resultType="int">
	SELECT COUNT(*)
	FROM login
	WHERE id=#{id}
	AND pw=#{pw}
</select>
<select id="kakaoProc" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM login
	WHERE id=#{id}
</select>
<insert id="kakaoInsert" parameterType="String">
	INSERT INTO Login(id, pw)
	VALUES(#{id}, '123')
</insert>
</mapper>