<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.SelfStudy.ISelfStudyDao">

<insert id="InsertSelfStudy" parameterType="com.jin.SelfStudy.SelfStudy">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			nvl(max(no), 0)+1 FROM selfstudyattachfile
	</selectKey>
	INSERT INTO selfstudyattachfile(no, id, systemfile, originfile)
	VALUES(#{no},#{id},#{systemfile},#{originfile})
	</insert>
	
<select id="SelectSelfStudy" parameterType="com.jin.SelfStudy.SelfStudy" resultType="com.jin.SelfStudy.SelfStudy">
	select * 
	from selfstudyattachfile
	where id = #{id}
</select>
</mapper>